/**
* Template Name: Eterna - v2.1.0
* Template URL: https://bootstrapmade.com/eterna-free-multipurpose-bootstrap-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  margin:0px;
}

a {
  color: #e96b56;
}

a:hover {
  color: #e6573f;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #e96b56;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #e6573f;
  color: #fff;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #2E5DA7;
  padding: 10px 0;
  font-size: 14px;
}

#topbar .contact-info {
  color: #fff;
}

#topbar .contact-info a {
  line-height: 1;
  color: #fff;
  transition: 0.3s;
}

#topbar .contact-info a:hover {
  color: #e96b56;
}

#topbar .contact-info i {
  color: #FFFFFF;
  padding: 4px;
}

#topbar .contact-info .icofont-phone {
  padding-left: 20px;
}

#topbar .social-links a {
  color: #fff;
  padding: 4px 0 4px 16px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}

#topbar .social-links a:hover {
  color: #e96b56;
}

#topbar .social-links a:first-child {
  border-left: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  width:100%;
  height: 90px;
  padding: 10px 0;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}

#header .logo h1 {
  font-size: 20px;
  padding: 0 0 0 8px;
  margin: 11px 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  border-left: 8px solid #e96b56;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #545454;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin-top:8px;
  max-height: 45px;
}

/*newly added by krishna */
#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: "Poppins", sans-serif;
}



/* newly added by krishna*/


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin-top: 3px;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color:white;
  padding: 13px 0 15px 25px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-size: 13px
}



.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 20px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: rgb(4, 4, 139);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color:#3E77D2;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 20px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #e96b56;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #545454;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #e96b56;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(59, 59, 59, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100vw;
  background-color: rgba(59, 59, 59, 0.8);
} 

#hero .carousel-item {
  width: 100vw;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center center;
}


#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .carousel-content {
  text-align: center;
}

#hero h2 {
  color: #2e2e2e;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#hero h2 span {
  color: #e96b56;
}

#hero p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: arken(#545454, 15);
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-left,
#hero .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
  color: #FFFFFF; 
}

#hero .carousel-indicators li {
  cursor: pointer;
  background:#FFFFFF;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  margin-bottom: 180px;
  opacity: .2;
}

#hero .carousel-indicators li.active {
  opacity: 1;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #e96b56;
  background: #e96b56;
}

#hero .btn-get-started:hover {
  background: transparent;
  color: #e96b56;
  text-decoration: none;
}

.contact-bottom-grid {
  width:45vw !important;
}

@media (max-height: 768px), (max-width: 1200px) {
  #hero {
    margin-bottom: 20px;
  }
  #hero .carousel-container {
    padding-bottom: 0;
  }
  #hero .carousel-indicators li {
    margin-bottom: 0;
  }

  .contact-bottom-grid {
    width:82vw !important;
  }
}

@media (max-width: 768px) {
  #hero {
    margin-bottom: 20px;
  }
 
}

/* @media (min-width: 1024px) {
  #hero p {
    width: 50%;
  }
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
} */

/* middletext */
.text-middle{
  display:flex;
  text-align: center;
  justify-content: center;
  font-size: 35px;
  margin-top:40px;

}
/* ourproducts */
.ourproducts{
  width:100%;
  height: 100vh;
  background-color: #9e0073;
  overflow: hidden;
}

.ourproducts p{
  display: inline-block;
  color:white;
  font-size: 30px;
  margin-top: 50px;
  margin-left: 40% 
}


.ourproducts h6{
  text-align: center;
  padding: 20px 50px 20px 50px;
  color:white
}
.ourproducts button{
  margin-left: 45%;
  border-radius: 22px;
  padding: 10px 20px 10px 20px;
  background-color: #9e0073;
  border: 2px solid white;
  color:white
}



/* our-solutions */

.our-solutions{
  width:100%;
  height:115vh;
  background-color: #024090;
  overflow: hidden;
}

.our-solutions h2{
  color:white;
  display: inline-block;
  margin-left: 40%;
  margin-top: 50px;
  font-size: 30px;
}
.our-solutions h6{
  text-align: center;
  padding:10px 50px 10px 50px;
  color:white;
  font-family: Lato ;
  font-size: 18px;
  margin-top: 30px

}
.our-solutions button{
  margin-left: 45%;
  border-radius: 22px;
  padding: 10px 20px 10px 20px;
  background-color: #024090;
  border: 2px solid white;
  color:white;
  margin-top: 20px;
}

/* flip card */

.flip-card {
  background-color: transparent;
  width: 280px;
  height: 300px;
  padding: 0;
  margin-top: 40px
}
.flip-card-inner {
  position: relative;
  width:99%;
  height: 120%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateX(180deg);
}

.flip-card1 {
  background-color: transparent;
  width: 32%;
  height: 300px;
  padding: 0;
  margin-top: 40px;
}

.flip-card-inner1 {
  position: relative;
  width:99%;
  height: 120%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card1:hover .flip-card-inner1 {
  transform: rotateX(180deg);
}
.flip-card-front1 {
  background-color: #bbb;
  color: black;
}
.flip-card-back1 {
  background-color: #2980b9;
  color: white;
  transform: rotateX(180deg);
}
.flip-card-front1, .flip-card-back1 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


/* Faq*/
.faq{
width:100%;
height:95vh;
background-image: url(https://nipponpaint.co.in/wp-content/uploads/2018/06/faq-bg.jpg);
overflow: hidden;
}
.faq p{
  color:white;
  margin-left:120px;
  margin-top:70px;
  display: inline-block;
  font-size: 25px;
  font-family: Lato;
}
.faq h4{
  color:white;
  margin-left:200px;
  margin-top:70px;
  display: inline-block;
  font-size: 25px;
  font-family: Lato;
  
}
.faq h6{
  margin-top:10px;
  display: inline-block;
  margin-left: 20px;
  font-size: 15px;
  font-family: Oswald;
}
.faq-card {
  background-color: transparent;
  width: 250px;
  height: 280px;
  padding: 0;
  margin-top: 50px;
  margin-left: 80px
}
.faq-card1 {
  background-color: transparent;
  width: 250px;
  height: 280px;
  padding: 0;
  margin-top: 50px;
  margin-left: 40px
}
.faq-card-inner {
  position: relative;
  width:99%;
  height: 120%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.faq-card:hover .flip-card-inner {
  transform: rotateX(180deg);
}

.faq-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.faq-card-front {
  background-color: #bbb;
  color: black;
}

.faq-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateX(180deg);
}
.faq-card1-inner {
  position: relative;
  width:99%;
  height: 120%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.faq-card1:hover .flip-card-inner {
  transform: rotateX(180deg);
}

.faq-card1-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.faq-card1-front {
  background-color: #bbb;
  color: black;
}

.faq-card1-back {
  background-color: #2980b9;
  color: white;
  transform: rotateX(180deg);
}

/* details */
.details{
  overflow: hidden;
  width: 100%;
  height:10vh;
  background-color: #d8262d;

}

/* contactdetails */
.contactdetails{
  width:100%;
  height:55vh;
  background-color: #0a428f;
}
.contactdetails h3{
  color:white;
  font-size:20px;
  margin-left: 100px;
  margin-top:60px;
}
.contactdetails h6{
  color: rgb(180, 180, 180);
  font-size:13px;
  margin-left:100px;
  margin-top:20px

}

/* branch pages */
button{
  border-radius: 22px;
  padding: 10px 20px 10px 20px;
  border: 2px solid white;
  color:white
}

/* backgroud image */

.b-image1{
  background-image: url("../img/company/darkimage2.png"); 

}
.b-image2{
  background-image: url("../img/company/trendsimage1.png"); 

}
.b-image3{
  background-image: url("../img/company/inspirationimage1.png"); 

}
.b-image4{
  background-image: url("../img/company/styleimage1.png"); 

}
.b-image5{
  background-image: url("../img/company/blogimage.png"); 

}

.b-image6{
  background-image: url("../img/company/pro-banner.png"); 

}

/* goliath effect */

.grid {
	position: relative;
	clear: both;
  margin-left:10%;
  margin-top: 20px;
	padding: 1em 0 4em;
	max-width: 90vw;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;;
	width: 26vw;
	height: 70vh;
	background: #3085a3;
	text-align: justify;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	color: #fff;
	text-transform: uppercase;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
}

figure.effect-goliath {
	background: #ffffff;
}

figure.effect-goliath img{
  -webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
figure.effect-goliath h2 {
	-webkit-transition: -webkit-transform 1s;
	transition: transform 1s;
}

figure.effect-goliath img {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-goliath h2,
figure.effect-goliath p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px 30px 10px 30px; 
}

figure.effect-goliath p {
	text-transform: none;
	font-size: 0.80rem;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,50px,0);
	transform: translate3d(0,50px,0);
}

figure.effect-goliath:hover img {
	-webkit-transform: translate3d(0,-100px,0);
	transform: translate3d(0,-100px,0);
}

figure.effect-goliath:hover h2 {
	-webkit-transform: translate3d(0,-100px,0);
	transform: translate3d(0,-100px,0);
}

figure.effect-goliath:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  background-color: white;
  color:rgb(41, 38, 38);
}




/* color-btton */
.color-button button {
  border-radius: 22px;
  padding: 10px 20px 10px 20px;
  border: 1px solid #f4a813;
  background-color: white;
  color: #f4a813;
  margin-left: 10px;
}
.color-button button:hover{
  border-radius: 22px;
  padding: 10px 20px 10px 20px;
  border: 1px solid #ffffff;
  background-color: #f4a813;
  color:#fff;
}
/* colors */
.colors{
width:99vw;
height:auto;
margin-left:25px
}
.s-color{
  width:13vw;
  height: 85px;
  color:white;
  font-size:22px;
  background-color: #545b58;
  margin: 30px 0px 0px 25px;
  font-family: "Roboto Condensed";
}
/* footer */

.footerdetails{
  width: 100%;
  height: 15vh;
  background-color: #002a65;
  overflow: hidden;
}
.footerdetails p{
  color:white;
  margin-top:20px;
  display:inline-block;
  margin-left: 35%;
  font-size:14px
}
.footerdetails h6{
  color:white;
  margin-left:42%;
  font-size:14px;
}
/* top-bar */

.top-bar{
  width:100%;
  height:10vh;
  display: flex;
  text-align: center;
  justify-content: center;
background-color: rgb(235, 235, 235)
}
.top-bar p{
  margin-top: 22px;
font-size: 12px;
 
}
.top-bar h6{
  margin-top: 25px; 
  margin-left: 3px;
  color:#333;
  font-size: 12px; 

}

/* contact us */
.contact h6{
  margin-top:10px;
  display: inline-block;
  margin-left: 20px;
  font-size:17px;
  font-family: Open Sans Condensed;
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 0 0 80px 0;
}

.section-bg {
  background-color: white;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #e96b56;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Featured
--------------------------------------------------------------*/
.featured {
  position: relative;
  z-index: 2;
}

.featured .icon-box {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background: #fff;
  transition: all ease-in-out 0.3s;
}

.featured .icon-box i {
  color: #312c2b;
  font-size: 42px;
  display: block;
}

.featured .icon-box h3 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 20px;
}

.featured .icon-box h3 a {
  color: #545454;
  transition: 0.3s;
}

.featured .icon-box p {
  color: #545454;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.featured .icon-box:hover {
  background:#3B74D1;
}

.featured .icon-box:hover i, .featured .icon-box:hover h3 a, .featured .icon-box:hover p {
  color: #fff;
}
